@use "../variables";

.creations {
	padding: 2rem;

	&__wrapper {
		max-width: 1200px;
		margin: 0 auto;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 5rem;
		align-items: center;
	}

	&__see-all {
		display: block;
		padding: 0.5rem 3rem;
		background-color: transparent;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		flex-grow: 0;

		&--mobile {
			display: none;
		}

		&:hover {
			cursor: pointer;
			background-color: variables.$color-black;
			color: variables.$color-white;
		}
	}

	&-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		align-items: center;
		justify-content: center;
		align-content: center;
		gap: 3rem;
	}

	@media screen and (max-width: variables.$breakpoint-large) {
		&-list {
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
	}

	@media screen and (max-width: variables.$breakpoint-small) {
		&-list {
			display: grid;
			grid-template-columns: 1fr;
		}

		&__see-all {
			display: none;

			&--mobile {
				display: block;
				margin: 2rem auto;
				padding: 1rem 3rem;
			}
		}
	}
}
