@use "../variables";

.description {
  position: relative;
  padding: 0 2rem;

  &__wrapper {
    margin: 10rem auto;
    max-width: 1200px;
  }

  &__image {
    display: block;
    object-fit: cover;
    width: 60%;
  }

  &__text {
    position: absolute;
    bottom: 0;
    width: 55%;
    right: 0;
    background-color: variables.$color-white;
    font-size: 1.6rem;
    padding: 6rem 6rem  0 6rem ;
    letter-spacing: 0.15rem;
    line-height: 1.6;
    color: rgb(153 153 153);
  }

  &__heading {
    margin-bottom: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    color: variables.$color-black;
    font-weight: 300;
  }

 @media screen and (max-width: variables.$breakpoint-large) {
   &__text {
      position: relative;
      width:100%;
      text-align: center;
   }
    &__image {
    
      width: 100%;
    }


 }
}
