@use "../variables";

.header {
  background-image: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 15rem;

  &__nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 300px;
  }
}
