@use "../variables";

.header {
	background-image: url(../images/desktop/image-hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 5rem 15rem;

	&__nav-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		& input[type="checkbox"] {
			display: none;
		}

		& .hamburger-nav {
			display: none;
		}

    & .close-nav {
			display: none;
		}
    
    & .mobile-nav {
      display: none;
    }

		& input[type="checkbox"]:checked {
			& ~ .hamburger-nav {
        display: none;
      }

      & ~ .close-nav {
        display: block;
        z-index: 200;
      }
		}

	}

	&__logo {
		width: 300px;
	}

	@media screen and (max-width: variables.$breakpoint-large) {
		& {
			padding: 5rem 5rem;

			&__nav-wrapper .hamburger-nav {
				display: block;
				width: 35px;
			}

			&__logo {
				width: 200px;
			}
		}
	}

	@media screen and (max-width: variables.$breakpoint-small) {
		&__logo {
			width: 150px;
		}

		&__nav-wrapper .hamburger-nav {
			display: block;
			width: 25px;
		}
	}
}
