@use "../variables";

.header {
  background-image: url(../images/desktop/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem 15rem;

  &__nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .hamburger-nav {
      display: none;
    }
  }

  &__logo {
    width: 300px;
  }

  @media screen and (max-width: variables.$breakpoint-large) {
    & {
      padding: 5rem 5rem;

      &__nav-wrapper .hamburger-nav {
        display: block;
        width: 35px;
      }

      &__logo {
        width: 200px;
      }
    }
  }

  @media screen and (max-width: variables.$breakpoint-small) {

    &__logo {
      width: 150px;
    }

    &__nav-wrapper .hamburger-nav {
      display: block;
      width: 25px;
    }

  }
}
