@use "../variables";

.navigation__checkbox {
  display: none;
}

.navigation__icon {
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;

  @media screen and (max-width: variables.$breakpoint-large) {
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    z-index: 200;
  }
}

.navigation__background {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: variables.$color-black;
  right: 55px;
  border-radius: 50%;
  visibility: hidden;
  z-index: 100;
  transition: all 0.4s;
}

.navigation__checkbox:checked {
  & ~ .navigation__background {
    visibility: visible;
    transform: scale(200);
    transform-origin: center;
  }

  & ~ .navigation__button .navigation__icon {
    background-image: url("../images/icon-close.svg");
    position: fixed;
    right: 50px;
    top: 52px;
  }

  @media screen and (max-width: variables.$breakpoint-large) {
    & ~ .nav {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      z-index: 200;
      flex-direction: column;
      text-align: center;
    }

    & ~ .nav .nav__item {
      font-size: 3rem;
    }
  }
}
