@use "../variables";

.title {
  color: variables.$color-white;
  padding: 5rem;
  border: 2px solid variables.$color-white;
  display: inline-block;
  margin: 10rem 0;
  font-size: 4.5rem;
  font-weight: 200;
  letter-spacing: 0.1em;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  max-width: 500px;
  backdrop-filter: blur(5px);
  text-transform: uppercase;

  @media screen and (max-width: variables.$breakpoint-medium) {
    font-size: 3.5rem;
    padding: 2.5rem;
  }
}
