*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  height: 100vh;
  display: grid;
  align-content: center;
  align-items: center;
  justify-items: center;
}
