@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media screen and (max-width: variables.$breakpoint-medium) {
    font-size: 50%;
  }

  @media screen and (max-width: variables.$breakpoint-small) {
    font-size: 45%;
  }

}

body {
  background-color: hsl(0, 0%, 100%);
}
