
.card {
  max-width: 325px;
  background-color: hsl(216, 50%, 16%);
  padding: 25px;
  border-radius: 10px;

  &__img {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    background-size: cover;

    &-wrapper {
      position: relative;
    }

    &-wrapper:hover {
      cursor: pointer;

      .card__img-overlay {
        display: block;
      }
      .card__img-icon {
        display: block;
      }
    }

    &-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: hsl(178, 100%, 50%, 25%);
      z-index: 100;
      border-radius: 10px;
      display: none;
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 101;
      display: none;
    }

    &:hover {
      cursor: pointer;
      background-color: hsl(216, 50%, 16%);
      backdrop-filter: hue(hsl(216, 50%, 16%));
    }

    &:hover::after {
      background-image: url("images/image-avatar.png");
      display: block;
      position: absolute;
      height: 200px;
      width: 200px;
      content: "";
      z-index: 100;
    }
  }

  &__header {
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 20px;

    &:hover {
      cursor: pointer;
      color: hsl(178, 100%, 50%);
    }
  }

  &__text {
    color: hsl(215, 51%, 70%);
    font-weight: 200;
  }

  &__price-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px 0;
  }

  &__price {
    color: hsl(178, 100%, 50%);
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
    }
  }

  &__time {
    color: hsl(215, 51%, 70%);
    font-weight: 200;
    justify-self: end;
    display: flex;
    align-items: center;

    img {
      margin-right: 5px;
    }
  }

  &__footer {
    border-top: 2px solid hsl(215, 32%, 27%);
    padding: 15px 0 5px 0;
    color: hsl(215, 51%, 70%);
    font-weight: 200;
    display: flex;
    align-items: center;

    & span {
      color: hsl(0, 0%, 100%);
      margin-left: 5px;

      &:hover {
        cursor: pointer;
        color: hsl(178, 100%, 50%);
      }
    }
  }

  &__avatar {
    width: 30px;
    margin-right: 10px;
  }
}
